# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
*.egg
dist/
build/
*.log

# Streamlit
.streamlit/config.toml
.streamlit/secrets.toml

# VSCode
.vscode/

# macOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs
.idea/
*.iml

# Node
node_modules/
npm-debug.log*

# Others
*.sqlite3
*.db
*.bak
*.swp
*.swo
*.tmp
*.pid

# System files
Thumbs.db
ehthumbs.db
Desktop.ini

# Azure/Secrets
*.azure
*.secret